@import url(style.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-body: linear-gradient(45deg, #6C5B7B, #C06C84, #F67280);
    --background-container: rgba(255, 255, 255, 0.8);
    --color-text: #fff;
    --box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    --btn-color: #F67280;
    --btn-hover-color: #C06C84;
}